*{
    padding: 0;
    margin: 0;
}

img{
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  background-size: cover;
}
.contact{
  font-weight: bold;
}
.batch{
  font-size: 30px;
  font-style: oblique;
  background-color: rgb(167, 160, 160);
}
